.overflow{
    overflow: auto;
}

.producto-contenedor{
    border-bottom: 1px solid gray !important;
}

.fondo-personajes{
    padding-top: 100px;
    background-image: url(../../assets/modal-personajes/tapion.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
