.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 100px;
}

.titulo-menu{
    font-size: 70px;
}

.contenedor-menu{
    background: rgb(255,158,0);
    background: linear-gradient(7deg, rgba(255,158,0,1) 0%, rgba(255,85,0,1) 100%);
    padding-top: 50px;
    text-align: center;
}

@media (max-width:1150px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 100px;
        background: rgb(255,158,0);
        background: linear-gradient(7deg, rgba(255,158,0,1) 0%, rgba(255,85,0,1) 100%);
    }
}

@media (max-width:750px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 15px;
        background: rgb(255,158,0);
        background: linear-gradient(7deg, rgba(255,158,0,1) 0%, rgba(255,85,0,1) 100%);
    }
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 100%;
}

.boton{
   background-color: orange !important;
   color: blue;
}

.contenedor-contador{
    display: flex;
}

.contador{
    background-color: #7aa9f0;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 5px;
}

.contenedor-titulo{
    display: flex;
    justify-content: center;
    margin-left: -200px;
    align-items: center;
}

@media (max-width:750px) {
    .contenedor-titulo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
}

.enlace-ingredientes{
    cursor: pointer;
}

.modal-ingredientes{
    justify-content: center;
    align-items: center;
}