.overflow{
    overflow: auto;
}

.producto-contenedor{
    border-bottom: 1px solid gray !important;
}

.fondo{
    background-image: url(../../assets/nosotros/shenlong.gif) !important;
}

.fondo-body-modal{
    background-color: orange !important;
}